/* CONTENEDORES */
.altura-carrito {
    height: 9.5rem;
}

.altura-selector {
    height: 2rem;
}

.contenedor-basura {
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    border: none;
}

.contenedor-basura:hover {
    background-color: #D9D9D9;
}

.contenedor-puntos {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.input-puntos {
    width: 3rem;
    border: #666666 1px solid;
    border-radius: 4px;
}

#asignar-puntos {
    display: none;
    opacity: 0;
    max-height: 0;
    transition: opacity 1s, max-height 2s;
}

#descuento-aplicado {
    display: none;
    opacity: 0;
    max-height: 0;
    transition: opacity 1s, max-height 2s;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.contenedor_popup {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 5% auto;
    border: 1px solid #888;
    width: fit-content;
    max-width: 100%;
}

#inputPropina {
    text-align: center;
    width: 3rem;
    border-top: 0.5px solid #333333;
    border-bottom: 0.5px solid #333333;
    border-left: none;
    border-right: none;
}

/* IMAGENES */
.img-basura {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 0.1rem;
}

.pagos {
    width: 90%;
    height: auto;
}

.cerrar {
    width: 1rem;
    height: auto;
}

/* TEXTO */
.text-precio-tachado-carrito {
    text-decoration: line-through;
    font-weight: 800;
    font-size: 0.9rem;
}

.cartel-cheque {
    background-color: #EBF5DE;
    cursor: pointer;
}

.cartel-cheque:hover h3 {
    text-decoration: underline;
}

.text-cheque {
    font-family: var(--fuente-principal);
    font-weight: 700;
    font-size: 1.1rem;
}

.text-pago {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 0.9rem;
}

/* FONDOS */
.fondo-gris {
    background-color: #D9D9D9;
}

/* BOTONES */
#btnAceptarPropina {
    width: 25%;
}

#btnCancelarPropina {
    width: 25%;
}

/* OCULTAR */
.oculto {
    display: none;
}

@media (max-width: 991.98px) {

    .text-cheque {
        font-size: 1rem;
    }

    .img-basura {
        height: 1.4rem;
        width: 1.4rem;
    }

    .text-pago {
        font-size: 0.82rem;
    }
}

@media (max-width: 767.98px) {

    .text-cheque {
        font-size: 0.85rem;
    }

    .img-basura {
        height: 1.2rem;
        width: 1.2rem;
    }

    .text-pago {
        font-size: 0.7rem;
    }
}

@media (max-width: 575.98px) {

    .text-cheque {
        font-size: 0.75rem;
    }

    .img-basura {
        height: 1rem;
        width: 1rem;
    }

    .text-pago {
        font-size: 0.58rem;
    }
}