/* TEXTO */
.text-migas {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 400;
    color: #333333;
}

.text-migas:hover {
    color: #333333;
}

.text-carta {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 2rem;
}

.text-opiniones {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    color: #666666;
}

.text-envio-gratis {
    font-family: 'leroy-merlin', sans-serif;
    font-size: 0.65rem;
    font-weight: 400;
}

.subrayado {
    text-decoration: underline;
}

/* FONDOS */
.fondo-carta {
    height: 6rem;
    background-image: url(../images/carta/baner_carta.jpg);
    background-size: cover;
    background-position: center 69%;
    background-repeat: no-repeat;
}

.fondo-desplegable:hover {
    background-color: #D9D9D9;
}

/* LINEAS */
.linea-menos {
    width: 15px;
    height: 2px;
    border: 2px;
    border-radius: 2px;
    background-color: #191919;
    margin: 20px 0;
    opacity: 1;
}

.linea-filtros {
    width: 100%;
    height: 2px;
    background-color: #000000;
    opacity: 1;
}


/* INPUTS */
.input-precio {
    position: relative;
    display: inline-block;
}

.input-precio span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* DIMENSIONES */
.h-carta {
    height: 30rem;
}

.h-texto-carta {
    height: 60%;
}

/* IMAGENES */
.img-carta {
    height: 40%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.precio-bajo{
    width: 90%;
    height: auto;
}

/* BOTONES */
.btn-anadir-carrito {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 600;
    color: #188803;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-color: var(--color-verde-boton);
    border-style: solid;
    border-radius: 4px;
}

.btn-anadir-carrito:hover {
    background-color: #EBF5DE;
}

.btn-anadir-carrito:active {
    background-color: #C1DE9B;
}

@media (max-width: 991.98px) {
    .text-carta {
        font-size: 1.7rem;
    }

    .fondo-carta {
        height: 5rem;
    }

    .estrella{
        width: 4rem;
        height: auto;
    }

    .text-opiniones {
        font-size: 0.55rem;
    }

    .text-envio-gratis {
        font-size: 0.6rem;
    }
}

@media (max-width: 767.98px) {
    .text-carta {
        font-size: 1.6rem;
    }
    
    .fondo-carta {
        height: 4.5rem;
    }

    .estrella{
        width: 3.2rem;
        height: auto;
    }

    .text-opiniones {
        font-size: 0.45rem;
    }

    .text-envio-gratis {
        font-size: 0.53rem;
    }
}

@media (max-width: 575.98px) {
    .text-carta {
        font-size: 1.4rem;
    }

    .fondo-carta {
        height: 4rem;
    }

    .estrella{
        width: 2.8rem;
        height: auto;
    }

    .text-opiniones {
        font-size: 0.4rem;
    }

    .text-envio-gratis {
        font-size: 0.45rem;
    }
}