@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "BlantickScript";
    src: url(../fonts/BlantickScript.ttf);
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-bold-italic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-bold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-semi-bold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-semibold-italic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-light-italic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "leroy-merlin";
    src: url(../fonts/leroy-merlin-sans-light.ttf);
    font-weight: 200;
    font-style: normal;
}



/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color1: red;
    --bg-color2: green;
    --fuente-principal: 'leroy-merlin', sans-serif;
    --color-verde-oscuro: #006902;
    --color-verde-claro: #EBF5DE;
    --color-verde-boton: #188803;
}

html,
body {
    height: 100%;
    margin: 0;
}

a {
    color: #000000;
}

a:hover {
    color: #666666;
}

.text-menu{
    text-decoration: none;
}

.fondo-carta {
    height: 6rem;
    background-image: url(../images/carta/baner_carta.jpg);
    background-size: cover;
    background-position: center 69%;
    background-repeat: no-repeat;
}

.btn-g-w {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 600;
    color: #188803;
    background-color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-color: var(--color-verde-boton);
    border-style: solid;
    border-radius: 2px;
}

.btn-g-w:hover {
    background-color: #EBF5DE;
}

.btn-g-w:active {
    background-color: #C1DE9B;
}

.btn-c-h {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin: 0.8rem;
    border-color: #333333;
    border-style: solid;
    border-radius: 3rem;
    border-width: 0.5px;
}

.btn-c-h:hover {
    background-color: #D9D9D9;
}

.btn-anadir-carrito {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 600;
    color: #188803;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-color: var(--color-verde-boton);
    border-style: solid;
    border-radius: 4px;
}

.btn-anadir-carrito:hover {
    background-color: #EBF5DE;
}

.btn-anadir-carrito:active {
    background-color: #C1DE9B;
}

.btn-compra {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    background-color: #188803;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-style: hidden;
    border-radius: 4px;
}

.btn-compra:hover {
    background-color: #006902;
}

.semi-bold {
    font-weight: 600;
}

.linea-menos {
    width: 15px;
    height: 2px;
    border: 2px;
    border-radius: 2px;
    background-color: #191919;
    margin: 20px 0;
    opacity: 1;
}

.linea-filtros {
    width: 100%;
    height: 2px;
    background-color: #000000;
    opacity: 1;
}

.linea-carrito {
    width: 6rem;
    height: 3px;
    background-color: #46A610;
    border: none;
    opacity: 1;
}

.h-categoria {
    height: 2rem;
}

.select-filtro {
    width: 15rem;
    padding: 0.6rem;
    border: 1px solid #000000;
    border-radius: 5px;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/carta/flecha_select.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.img-categoria {
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}

.img-carta {
    height: 40%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.img-carrito{
    height: 9rem;
    width: 9rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
}

.altura-carrito{
    height: 14rem;
}

.fondo-desplegable:hover {
    background-color: #D9D9D9;
}

.subrayado {
    text-decoration: underline;
}

.h-carta {
    height: 30rem;
}

.h-texto-carta {
    height: 60%;
}

.img-categoria-left {
    background-position: 80% 50%;
}

.seccion-novedades {
    background-color: #EBF5DE;
}

.fondo-blanco {
    background-color: #FFFFFF;
    padding: 1rem;
}

.fondo-gris {
    background-color: #D9D9D9;
}

.borde-fino {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}

.p-novedades {
    padding-left: 3rem;
    padding-right: 2rem;
}

.color-migas {
    color: #333333;
}

.text {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 400;
}

.text-carousel {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 2rem;
}

.text-carta {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 2rem;
}

.text-opiniones {
    font-size: 0.6rem;
    color: #666666;
}

.text-h1 {
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-size: 3rem;
}

.text-h2 {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 1.5rem;
}

.text-h3 {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 1rem;
}

.text-cheque {
    font-family: var(--fuente-principal);
    font-weight: 700;
    font-size: 1.1rem;
}

.text-filtro{
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 2rem;
}

.color-hover {
    color: #666666;
}

.text-precio {
    font-weight: 700;
    font-size: 1.25rem;
}

.text-cartel-descuento {
    font-size: 0.9rem;
    font-weight: 500;
    color: #FFFFFF;
}

.text-precio-tachado {
    text-decoration: line-through;
    font-weight: 500;
    font-size: 0.9rem;
}

.text-envio-gratis {
    font-size: 0.65rem;
    font-weight: 600;
}

.text-restablecer:hover {
    color: #666666;
}

.text-categoria {
    text-decoration: none;
}

.text-categoria:hover {
    text-decoration: underline;
    color: #000000;
}

.sombra {
    box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, 0.25);
}

.logo {
    height: 100px;
}

.cartel-descuento {
    width: 4.5rem;
    height: 1.6rem;
    background-color: #C61112;
}

.color-descuento {
    color: #C61112;
}

.flecha {
    height: 0.7rem;
    width: 0.7rem;
}

.cartel-cheque {
    background-color: #EBF5DE;
}


input[type="radio"] {
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
}


input[type="radio"]:checked {
    accent-color: #000000;
}

/*Media query*/
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */

    h1 {
        background-color: var(--bg-color2);
        width: 100%;
    }
}