@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "BlantickScript";
    src: url(../fonts/BlantickScript.ttf);
}

/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color1: red;
    --bg-color2: green;
}

.foto_carta {
    height: 214px;
    width: 214px;
    overflow: hidden;
}

.foto_carta img {
    height: 100%;
    width: 100%;
}

.boton_comprar{
    margin-bottom: 25px;
}

.foto {
    max-width: 100%;
    max-height: 100%;
}

.card_height {
    height: 470px;
}

.logo {
    height: 100px;
}

/*Media query*/
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */

    h1 {
        background-color: var(--bg-color2);
        width: 100%;
    }
}