@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "BlantickScript";
    src: url(../fonts/BlantickScript.ttf);
}

/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color1: red;
    --bg-color2: green;
}

.logo{
    height: 100px;
}

/*Media query*/
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */

    h1 {
        background-color: var(--bg-color2);
        width: 100%;
    }
}