/* IMAGENES */
.logo-user {
    height: 2rem;
    width: 2rem;
    background-image: url(../images/header/user.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-carrito {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-image: url(../images/header/carrito.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    height: 4.5rem;
    width: 7.5rem;
    background-image: url(../images/header/Logo_leroy_merlin.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-enlace {
    display: block;
    width: 100%;
    height: 100%;
}

.logo-opiniones {
    width: 1.2rem;
    height: auto;
}

/* LINEAS */
.linea-header {
    color: #666666;
    width: 100%;
}

/* CONTENEDOR */
.buscador-header {
    width: 30rem;
    height: 3rem;
    border-radius: 3px;
    border: 0.3px solid #000000;
    background-color: #FFFFFF;
}

/* TEXTO */
.text-user-header {
    color: #000000;
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}

.text-user-header:hover {
    color: #000000;
}

.text-carrito-header {
    color: #FFFFFF;
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}

.text-carrito-header:hover {
    color: #FFFFFF;
}

@media (max-width: 991.98px) {

    .carta {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .imagen-carta {
        width: 0.7rem;
        height: auto;
    }

    .logo-user {
        height: 0;
        width: 0;
        background-image: none;
    }

    .text-carrito-header {
        color: #000000;
        font-weight: 400;
        font-size: 0.7rem;
    }

    .text-carrito-header:hover {
        color: #000000;
    }

    .logo-carrito {
        height: 0;
        width: 0;
        background-image: none;
    }

    div .background-verde{
        background-color: transparent;
    }

    .buscador-header {
        width: 20rem;
        height: 2rem;
        border-radius: 3px;
        border: 0.3px solid #000000;
        background-color: #FFFFFF;
    }

    .header-user{
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .text-user-header {
        font-weight: 400;
        font-size: 0.7rem;
    }
}

@media (max-width: 767.98px) {

    .carta {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .imagen-carta {
        width: 0.6rem;
        height: auto;
    }

    .logo-user {
        height: 0;
        width: 0;
        background-image: none;
    }

    .text-carrito-header {
        color: #000000;
        font-weight: 400;
        font-size: 0.6rem;
    }

    .text-carrito-header:hover {
        color: #000000;
    }

    .logo-carrito {
        height: 0;
        width: 0;
        background-image: none;
    }

    div .background-verde{
        background-color: transparent;
    }

    .buscador-header {
        width: 17rem;
        height: 1.6rem;
        border-radius: 3px;
        border: 0.3px solid #000000;
        background-color: #FFFFFF;
    }

    .header-user{
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .text-user-header {
        font-weight: 400;
        font-size: 0.6rem;
    }
}

@media (max-width: 575.98px) {
    .carta {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .imagen-carta {
        width: 0.5rem;
        height: auto;
    }

    .logo-user {
        height: 0;
        width: 0;
        background-image: none;
    }

    .text-carrito-header {
        color: #000000;
        font-weight: 400;
        font-size: 0.5rem;
    }

    .text-carrito-header:hover {
        color: #000000;
    }

    .logo-carrito {
        height: 0;
        width: 0;
        background-image: none;
    }

    div .background-verde{
        background-color: transparent;
    }

    .buscador-header {
        width: 14rem;
        height: 1.4rem;
        border-radius: 3px;
        border: 0.3px solid #000000;
        background-color: #FFFFFF;
    }

    .header-user{
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .text-user-header {
        font-weight: 400;
        font-size: 0.5rem;
    }

 }