/* SOMBRAS */
.sombra {
    box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, 0.25);
}

/* TEXTO */
.text-carousel {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 2rem;
}

/* FONDOS */
.seccion-novedades {
    background-color: #EBF5DE;
}

/* IMAGENES */
.cartel{
    max-width: 100%;
    height: auto;
}

/* ESPACIADO */
.p-novedades {
    padding-left: 3rem;
    padding-right: 2rem;
}

/* BOTONES */
.btn-c-h {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin: 0.8rem;
    border-color: #333333;
    border-style: solid;
    border-radius: 3rem;
    border-width: 0.5px;
    text-decoration: none;
}

.btn-c-h:hover {
    background-color: #D9D9D9;
    color: #000000;
}

.btn-g-w {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 600;
    color: #188803;
    background-color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-color: var(--color-verde-boton);
    border-style: solid;
    border-radius: 2px;
    text-decoration: none;
}

.btn-g-w:hover {
    background-color: #EBF5DE;
    color: #188803;
}

.btn-g-w:active {
    background-color: #C1DE9B;
}

@media (max-width: 991.98px) {

    .text-carousel {
        font-size: 1.4rem;
    }

    .btn-c-h {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}

@media (max-width: 767.98px) {

    .text-carousel {
        font-size: 1rem;
    }

    .btn-c-h {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 575.98px) {
    
    .text-carousel {
        font-size: 0.85rem;
    }

    .btn-c-h {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
 }