.fondo-resenyas {
    background-color: #E6E6E6;
}

.barra-progreso {
    background: #E6E6E6;
    height: 6px;
    width: 150px;
}

.barra-progreso-llena {
    background: #46a610;
    height: 100%;
}

.borde {
    border-radius: 4px;
}

.circulo-user-opiniones {
    width: 3rem;
    height: 3rem;
    border-radius: 20rem;
    background-color: #EBF5DE;
    background-image: url(../images/header/user.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.separador {
    border-left: 1px solid #ccc;
}

.img-verificado {
    height: 1rem;
    width: auto;
}

.img-estrellas {
    height: 1.5rem;
    width: auto;
}

.img-filtro {
    height: 1.6rem;
    width: auto;
}

.img-filtro-gris {
    height: 1.2rem;
    width: auto;
}

.text-verificado {
    font-size: 0.875rem;
    text-decoration: underline;
}

.text-fecha {
    font-size: 0.875rem;
}

.text-util {
    font-size: 0.8175rem;
}

.boton-opiniones {
    font-family: 'leroy-merlin', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: #000000;
    width: 4.5rem;
    background-color: #ffffff;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 2px solid #000000;
    border-radius: 4px;
}

.boton-opiniones:hover {
    background-color: #E6E6E6;
}

.boton-deshabilitado {
    background-color: #E6E6E6 !important;
}

#filtrar.btn-compra,
#aplicar-filtros.btn-compra {
    width: 7.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#nueva-opinion.btn-compra {
    display: block;
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#borrar-todo.btn-anadir-carrito {
    width: 7.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#busqueda.buscador-header {
    width: 25rem;
}

.btn-desactivado {
    border-radius: 3px;
    cursor: not-allowed;
}

.btn-activado {
    border-radius: 4px;
    opacity: 0.7;
    cursor: pointer;
}

.btn-activado:hover {
    opacity: 1;
}

.panel-filtros {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100%;
    background: white;
    z-index: 1000;
    transition: right 0.3s;
}

.fondo-oscuro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.linea-filtros-opiniones {
    color: #666666;
    width: 100%;
}

.opiniones-naranja:hover {
    color: #ea7315;
}

.opiniones-naranja:hover .barra-progreso {
    background: #ea711536;
}

.formulario-opiniones {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s, max-height 0.5s ease-in-out;
}

.estrella {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.9rem;
    height: 2.9rem;
    background-image: url(../images/opiniones/estrella_vacia.svg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.estrella svg {
    width: 2.6rem;
    height: 2.6rem;
    display: block;
    margin: auto;
}

.estrella.resaltada,
.estrella:hover,
.estrella:active {
    background-image: url(../images/opiniones/estrella_llena.svg);
}

.espacio-comentario {
    border: 1px solid #000000;
    border-radius: 4px;
    height: 10rem;
}